## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [2]:
cap_words = []

for letters in words:
    cap_words.append(letters.upper())
    
cap_words

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [6]:
new_list = []

for lenght in words:
    
    if len(lenght) > 5:
        new_list.append(lenght.upper())
new_list

['FILLING', 'THEATRE', 'EASYGOING', 'ISLAND']

**Print the first word starting with "t"**

In [7]:
for i in new_list:
    if i.startswith("T"):
        print(i)

THEATRE

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [18]:
n_list = [ numbers**2 for numbers in range(1, 11)]

n_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [19]:
odd_numbers = []

for odd in range(1, 11):
    if odd % 2 != 0:
        odd_numbers.append(odd)
        
odd_numbers

[1, 3, 5, 7, 9]

**Create a list with the squares of all multiples of 8 below 1000**

In [35]:
new_list = []

for i in range(8, 1001):
    if i % 8 == 0:
        new_list.append(i**2)

## People

In [46]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [51]:
total_people = len(people)

total_people

5

**How many people have kids**?

In [52]:
tc = 0

for p in people:
    if p["n_kids"] >= 1:
        tc += 1
print(tc)

4

**How many kids do they have in total?**

In [53]:
t_c = 0

for pp in people:
    k = pp["n_kids"]
    t_c += k
    
print(t_c)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [56]:
for y in people:
    y["age"] += 1
    if  y["name"].endswith("a"):
        y["n_kids"] += 1
        
print(people)

[{'name': 'Juan', 'age': 37, 'n_kids': 2}, {'name': 'Pepe', 'age': 30, 'n_kids': 0}, {'name': 'Sonia', 'age': 44, 'n_kids': 3}, {'name': 'Lucía', 'age': 24, 'n_kids': 4}, {'name': 'Leo', 'age': 57, 'n_kids': 5}]